#hardle-input-guess-present-counter-container{
    background-color: rgb(200, 180, 0);
    border-color: rgb(200, 180, 0);
    box-shadow: 0 0 10px rgb(200, 180, 0);
}
#hardle-input-guess-correct-counter-container{
    background-color: rgb(0, 200, 0);
    border-color: rgb(0, 200, 0);
    box-shadow: 0 0 10px rgb(0, 200, 0);
}
.hardle-input-guess-counter-container{
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 2px solid rgb(64, 64, 64);
    background-color: rgb(34, 34, 34);
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

    .hardle-guess-arrow-container{
        position: absolute;
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        opacity: 0;
        transition: 0.5s;
    }
    .hardle-guess-up-arrow-container{
        top: 0;
        margin-top: -5px;
        align-items: flex-start;
    }
    .hardle-guess-down-arrow-container{
        bottom: 0;
        margin-bottom: -5px;
        align-items: flex-end;
    }
    .hardle-input-guess-counter-container:hover .hardle-guess-arrow-container{
        opacity: 0.5;
    }
    .hardle-input-guess-counter-container:hover .hardle-guess-arrow-container:hover{
        opacity: 1;
    }

        .hardle-guess-arrow{
            padding: 0;
            /* margin: 60px; */
            color: rgb(0, 0, 0);
            font-size: 1rem;
            font-weight: 700;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-drag: none;
        }

    .hardle-guess-counter{
        pointer-events: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -webkit-user-drag: none;
    }