.hardle-guess-list-row{
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

    .hardle-guess-cells{
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

        .hardle-guess-letter-container{
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            border: 2px solid rgb(64, 64, 64);
            background-color: rgb(34, 34, 34);
        }

            .hardle-guess-letter{
                color: white;
                font-size: 2rem;
                font-weight: bold;
                text-transform: uppercase;
                pointer-events: none;
            }

    .guess-row-counters-container{
        position: relative;
        right: 0;
        width: 75px;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        border-radius: 5px;
        color: black;
        font-size: 1.5rem;
        font-weight: bold;
        opacity: 0;
        /* outline: 1px solid red; */
    }
    .guess-row-counters-container.validGuess{
        opacity: 1;
    }
        
        #hardle-guess-present-counter-container{
            background-color: rgb(200, 180, 0);
            border-color: rgb(200, 180, 0);
            top: 5px;
            left: 0;
        }
        #hardle-guess-correct-counter-container{
            background-color: rgb(0, 200, 0);
            border-color: rgb(0, 200, 0);
            bottom: 5px;
            right: 5px;
        }
        .hardle-guess-counter-container{
            position: absolute;
            height: 40px;
            aspect-ratio: 1;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            gap: 10px;
        }

@media (max-width: 1400px) {
    .hardle-guess-list-row{
        height: 50px;
    }

        .hardle-guess-letter-container{
            width: 50px;
            height: 50px;
        }

            .hardle-guess-letter{
                font-size: 1.5rem;
            }

        .guess-row-counters-container{
            width: 25px;
            height: 25px;
            font-size: 1.2rem;
        }

            .hardle-guess-counter-value{
                font-size: 1rem;
            }
}

@media (max-width: 800px) {
    .hardle-guess-list-row{
        height: 40px;
    }

        .hardle-guess-letter-container{
            width: 40px;
            height: 40px;
        }

            .hardle-guess-letter{
                font-size: 1.2rem;
            }

        .guess-row-counters-container{
            width: 20px;
            height: 20px;
            font-size: 1rem;
        }

            .hardle-guess-counter-value{
                font-size: 0.8rem;
            }
}