#hardle-app-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    user-select: none;
}

    #hardle-header{
        padding: 5px 5%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        background-color: rgb(24, 24, 24);
    }

        #hardle-header-left-spacer{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            flex: 1;
        }

            #hardle-header-logo {
                width: 90px;
                height: 90px;
            }

            #hardle-header-title {
                color: white;
                font-size: 2rem;
                font-weight: bold;
                margin: 10px 0;
            }

        #hardle-header-right-controls{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex: 1;
        }

            #hardle-header-reset-button{
                padding: 8px 20px;
                border: none;
                border-radius: 5px;
                background-color: rgb(200, 50, 50);
                color: white;
                font-size: 1rem;
                font-weight: bold;
                cursor: pointer;
                user-select: none;
                -moz-user-select: none;
                -webkit-user-drag: none;
            }

    #hardle-main-container{
        flex: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(18, 18, 18);
    }

        #hardle-guess-container {
            flex: 3 0 0;
            display: flex;
            flex-direction: row;
            /* justify-content: flex-start; */
            align-items: center;
            gap: 20px;
        }

            #hardle-guess-list{
                flex: 2 0 0;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
            }
                        
            #hardle-inputs-container{
                flex: 3 0 0;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                gap: 25px;
            }
                
                #hardle-input-guess-counters-container{
                    /* width: 100%; */
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 10px;
                    gap: 20px;
                }                            

                .hardle-input-guess-cells{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;
                }

                    .hardle-input-guess-cell{
                        width: 70px;
                        height: 70px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 5px;
                        border: 2px solid rgb(64, 64, 64);
                        background-color: rgb(34, 34, 34);
                        cursor: pointer;
                    }
                    .hardle-input-guess-cell.active-cell{
                        border-color: rgb(120, 120, 120);
                        box-shadow: 0 0 10px rgb(120, 120, 120);
                    }

                        .hardle-input-guess-letter{
                            color: white;
                            font-size: 2rem;
                            font-weight: bold;
                            text-transform: uppercase;
                            pointer-events: none;
                            user-select: none;
                            -moz-user-select: none;
                            -webkit-user-drag: none;
                        }

                #hardle-guess-submit-container{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                    #hardle-guess-submit-button{
                        padding: 10px 30px;
                        border: none;
                        border-radius: 5px;
                        background-color: rgb(0, 120, 215);
                        color: white;
                        font-size: 1.4rem;
                        font-weight: bold;
                        cursor: pointer;
                        user-select: none;
                        -moz-user-select: none;
                        -webkit-user-drag: none;
                    }

        #hardle-words-container{
            flex: 1 0 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            background-color: rgb(22, 22, 22);
        }

            #hardle-words-list-header{
                padding: 20px;
                width: 100%;
                border-width: 0 1px 1px 1px;
                border-style: solid;
                border-color: rgb(0, 0, 0);
                border-radius: 0 0 10px 10px;
                background-color: rgb(24, 24, 24);
            }

                #hardle-words-list-header-title{
                    color: white;
                    font-size: 1.5rem;
                    font-weight: bold;
                    margin: 10px 0;
                    text-align: center;
                }

            #hardle-words-list{
                flex: 1 0 0;
                width: 100%;
                /* max-height: 200px; */
                padding: 10px 20px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                overflow-y: scroll;
            }

                .hardle-words-list-item{
                    color: white;
                    font-size: 1.2rem;
                    padding: 5px 10px;
                    border-radius: 5px;
                    background-color: rgb(34, 34, 34);
                }